<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="w3.org/2001/XMLSchema-instance" xmlns="xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="xmlns.jcp.org/xml/ns/javaee xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>sign-in</display-name>
  <welcome-file-list>
    <welcome-file>firstpage</welcome-file>
  </welcome-file-list>
  <filter>
  	<description>
  	</description>
  	<display-name>SignupFilter</display-name>
  	<filter-name>SignupFilter</filter-name>
  	<filter-class>com.hcl.filters.SignupFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>SignupFilter</filter-name>
  	<servlet-name>Signup</servlet-name>
  </filter-mapping>
  <servlet>
  	<servlet-name>First</servlet-name>
  	<servlet-class>First</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>First</servlet-name>
  	<url-pattern>/firstpage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>com.hcl.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ContentJsp</servlet-name>
    <jsp-file>/AppContent.jsp</jsp-file>
  </servlet>
   <servlet>
   	<servlet-name>SignUpJsp</servlet-name>
   	<jsp-file>/Register.jsp</jsp-file>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>Signup</display-name>
   	<servlet-name>Signup</servlet-name>
   	<servlet-class>com.hcl.Signup</servlet-class>
   </servlet>
  <servlet-mapping>
    <servlet-name>ContentJsp</servlet-name>
    <url-pattern>/content</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpJsp</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Signup</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>com.hcl.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>